Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDependentLiteratureCitationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Fix flakyness for legal periodical tests
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/periodical-evaluations-overview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add mail attachments only when they exist
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/SendInBlueHttpMailSender.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ScheduledPublicationService.java
Due: none

Clean up and add more tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Add tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Show literature references seperately in preview
  frontend/src/components/preview/PreviewReferences.vue
  frontend/test/e2e/caselaw/categories/references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix some backend warnings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CourtController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentNumberGeneratorService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentationUnitStatusService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/MockXmlExporter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/RedirectingAuthenticationFailureHandler.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LegalPeriodicalRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LegalPeriodicalService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/StyledElement.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/PageableTestImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationOfficeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/JurisXmlExporterWrapperIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/NormAbbreviationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisRequestSpec.java
Due: none

Review comments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/HyperlinkConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/UnhandledElementType.java
Due: none

Add new ADR for Java 21
  doc/adr/0003-[Superseded]use-spring-webflux-reactive-stack.md
  doc/adr/0004-[Superseded]use-java-17.md
  doc/adr/0006-backend-and-spa-in-monorepo.md
  doc/adr/0016-Identify-Reactive-WebFlux-as-Technical-Dept-in-Caselaw.md
  doc/adr/0022-use-java-21.md
Due: none

Fix link in markdown
  doc/adr/0016-Identify-Reactive-WebFlux-as-Technical-Dept-in-Caselaw.md
  doc/adr/0022-use-java-21.md
Due: none

Add e2e tests for border number editor
  frontend/test/e2e/caselaw/categories/shortAndLongTexts/border-number.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Code review
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
Due: none

Refactor field of law repository and service by using criteria query api (#2417)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseFieldOfLawNormRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImplTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Remove irrelevant unhandled elements
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxConverter.java
Due: none

Fix code smells
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
Due: none

Add test for rank
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Update frontend libs
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update backend libs
  backend/build.gradle.kts
Due: none

Fix log output for easier filtering
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/HyperlinkConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/ParagraphConverter.java
Due: none

Tech review findings
  frontend/src/components/NormReferences.vue
  frontend/test/components/nomReference/normReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

RISDEV-5168
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/Header.java
  backend/src/main/resources/caselawhandover/htmlToAknHtml.xslt
Due: none

RISDEV-5168
  backend/src/main/resources/caselawhandover/htmlToAknHtml.xslt
Due: none

Remove feature flag of terminierte Abgabe
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/documentUnit/documentUnitSearchEntryForm.spec.ts
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove feature flag of terminierte Abgabe (#2421)
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/documentUnit/documentUnitSearchEntryForm.spec.ts
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Run all tests to
  lefthook.yaml
Due: none

Run commands in parallel
  lefthook.yaml
Due: none

Seperate reference list in docunit view
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  frontend/src/components/DocumentUnitLiteratureReferenceInput.vue
  frontend/src/components/DocumentUnitReferences.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/preview/PreviewLiteratureReferences.vue
  frontend/src/components/preview/PreviewReferences.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Thrid Button in Popup Modal
  frontend/src/components/DocumentUnitAttachments.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/PopupModal.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/kitchensink/index/popupModal.vue
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/components/popupModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Resolve eslint warning
  frontend/package.json
  frontend/postcss.config.js
  frontend/prettier.config.js
  frontend/tailwind.config.js
  frontend/test/e2e/caselaw/categories/editableLists/relatedDocumentations/small-search.spec.ts
  frontend/test/e2e/caselaw/categories/field-of-law.spec.ts
  frontend/test/e2e/caselaw/documentunit-search.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Toggle option for periodical evaluation side panel
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/test/routes/[editionId].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve toggle
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Dismiss preview in reference evaluation
  frontend/src/components/DocumentNumberLink.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/SideToggle.vue
  frontend/src/components/input/TextButton.vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/src/stores/documentUnitStore.ts
  frontend/test/components/extraContentSidePanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Cancel+debounce Combobox requests + delayed enter
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ComboboxInput.vue
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/input/types.ts
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/createNewFromSearch.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/components/periodicalEvaluation/edition.spec.ts
  frontend/test/components/periodicalEvaluation/editionList.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/e2e/caselaw/categories/coreData/court.spec.ts
  frontend/test/e2e/caselaw/categories/editableLists/norms.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/services/comboboxItemService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Resolve eslint warning (#2424)
  frontend/package.json
  frontend/postcss.config.js
  frontend/prettier.config.js
  frontend/tailwind.config.js
  frontend/test/e2e/caselaw/categories/editableLists/relatedDocumentations/small-search.spec.ts
  frontend/test/e2e/caselaw/categories/field-of-law.spec.ts
  frontend/test/e2e/caselaw/documentunit-search.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore CVE-2024-45337 (paketo-buildpacks)
  .trivyignore
Due: none

Add condition for patch with version only
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperServiceTest.java
Due: none

Add test with empty lists
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperServiceTest.java
Due: none

Fixing versioning issue with empty patch (#2429)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperServiceTest.java
Due: none

Fix code smells
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none
