Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Convert hyperlink textes in docx
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocumentationUnitDocxBuilder.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxBuilder.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxTableBuilder.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/FooterConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/HyperlinkConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/ParagraphConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Converter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/UnhandledElement.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/UnhandledElementType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocumentationUnitDocxBuilderTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxParagraphDocxConverterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxTableBuilderTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/FooterConverterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/HyperlinkConverterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocxConverterServiceTest.java
Due: none

Add test for metadata extraction of document type
  frontend/test/e2e/caselaw/documents/read-docx-metadata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests and comment for unknown image format
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverter.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocxUnitConverterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverterTest.java
Due: none

Add comments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
Due: none

Adding test to reference input
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Renaming test name
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Await to dom to render
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Await to dom to render"
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add scrollTo mock
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Add scrollTo mock"
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Print console error
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Print console error"
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update most backend non-major dependencies
  backend/build.gradle.kts
Due: none

Find by label instead of find by
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove exception handling
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CaselawExceptionHandler.java
Due: none

Downgrade typescript version
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update vite config
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use ref instead of directly writing to store
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing unit test
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Assign to store while saving
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Renaming save and proceed button
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
Due: none

Review findings (#2414)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
Due: none

Integrate suggestion list view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TestComponent.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/languagetool/BubbleMenu.vue
  frontend/src/editor/languagetool/BubbleMenu_orig.ts
  frontend/src/editor/languagetool/bubble-menu-plugin.ts
  frontend/src/editor/languagetool/languageTool.ts
  frontend/src/routes/caselaw/test.vue
  frontend/src/types/languagetool.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Try out criteria query api
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseFieldOfLawNormRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImplTest.java
Due: none

Mock console error
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding scroll test to reference input
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding edition ref
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix lost table (BSG)
  frontend/src/styles/tables.css
Due: none

Wait for save and not for get
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove edition e2e scrolling test
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Fix lost table (BSG)"
  frontend/src/styles/tables.css
Due: none

Bump exporter
  backend/build.gradle.kts
Due: none

Update compose.yaml
  compose.yaml
Due: none

Edition store improvments (#2416)
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/test/components/periodicalEvaluation/edition.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing component tests (for BP)
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Avoid duplicated single norms
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/NormReferenceTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/SingleNorm.java
  frontend/src/components/NormReferences.vue
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/e2e/caselaw/categories/editableLists/norms.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Test: disable takeover button for externals
  frontend/src/components/DocumentUnitList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip flaky tests for now
  frontend/test/e2e/caselaw/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
