Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Revert "Update all-frontend-non-major-dependencies (#2468)"
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add Integration tests for query
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Extract spring from major updates build
  renovate.json5
Due: none

Dongrade spring framework issue
  backend/build.gradle.kts
Due: none

Revert "Extract spring from major updates build"
  renovate.json5
Due: none

Downgrading spring managment
  backend/build.gradle.kts
  renovate.json5
Due: none

Unblock pipeline
  frontend/test/a11y/caselaw/categories.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Downgrade spring-cloud-starter
  backend/build.gradle.kts
  renovate.json5
Due: none

Fix cascading deletion of test procedure
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  frontend/test/a11y/caselaw/categories.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Also close preview, when reference added
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing test cases
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Apply spotless
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Fix backend tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDuplicateCheckRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitIdDuplicateCheckTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitIdDuplicateCheck.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateCheckRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/ScheduledPublicationServiceTest.java
Due: none

Fix frontend style check
  frontend/README.md
Due: none

Refactor DuplicateCheckService
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
Due: none

Add duplicate check to get endpoint
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DeviatingObjectIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitFieldOfLawIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PublishIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SaveNormIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/YearOfDisputeIntegrationTest.java
Due: none

Add composable for preview container scrolling
  frontend/src/components/DecisionSummary.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/preview/PreviewLongTexts.vue
  frontend/src/components/preview/PreviewShortTexts.vue
  frontend/src/composables/useScrollPreviewContainer.ts
  frontend/test/composables/useScrollPreviewContainer.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Escape HTML entities when converting run text
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverter.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/DocumentationUnitDocxBuilderTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverterTest.java
Due: none

Add duplicate check to PATCH endpoint
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateRelationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Add warning and managementData page to FE
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/managementData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Find duplicates between regular/deviating court
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Find duplicates between deviating/regular court
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Update renovate.json5
  renovate.json5
Due: none

Import type for playwright config
  frontend/playwright.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add duplicate status api, fix backend tests, use DTO
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelationStatus.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelationStatusRequest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DeviatingObjectIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitFieldOfLawIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PublishIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SaveNormIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/UserGroupIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/YearOfDisputeIntegrationTest.java
Due: none

Spotless apply
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Add feature flag for duplicate check
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/composables/useCaseLawMenuItems.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add duplicate check in new-api
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Fix feature flag in FE (FE test not working WIP)
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/test/composables/useCaseLawMenuItems.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add long texts to category import
  frontend/src/components/ParticipatingJudges.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor references
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CaselawReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EditionReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LiteratureReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Reference.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Fix condition for empty long texts
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Check duplicate after file upload
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitDocxMetadataInitializationService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitDocxMetadataInitializationServiceTest.java
Due: none

Cascading delete of dups
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Revert frontend changes
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/managementData.vue
  frontend/test/composables/useCaseLawMenuItems.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Revert frontend changes"
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/managementData.vue
  frontend/test/composables/useCaseLawMenuItems.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix PUSH handling
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Test case for unpublished filtering in transformer
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Fix controller test mocks
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Updating playwright config import
  frontend/playwright.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
