Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Update eslint-plugin-testing-library to 7.0.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update BE-libs
  backend/build.gradle.kts
Due: none

Refactor and add e2e-tests (#2392)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ManagementData.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/texts/DocumentUnitAdditionalTexts.vue
  frontend/src/components/texts/DocumentUnitLongTexts.vue
  frontend/src/components/texts/DocumentUnitShortTexts.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/scheduledpublishingDateTime.spec.ts
  frontend/test/e2e/caselaw/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/handover/scheduled-publication.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Moving git access token to 1pass
  migration_image.md
Due: none

Show input fields based on reference type
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/reference.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add frontend test
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/reference.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add new endpoint for dependant literature doctypes
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  backend/src/test/resources/document_types.sql
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/test/e2e/caselaw/categories/references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Also add literature inputs to docunit references
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/test/e2e/caselaw/categories/references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adapt to design
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Literature citations can be saved to database
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationTypeConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentTypeTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DependentLiteratureCitationType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Reference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ReferenceType.java
Due: none

Fix spotless
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
Due: none

Integration test for saving literature references
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Bump schema
  backend/build.gradle.kts
Due: none

Display of literature reference list item
  frontend/src/components/DocumentUnitReferences.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/domain/reference.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Renaming of method names
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
Due: none

Give more meaningful radio button ids
  frontend/src/components/DocumentUnitReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix backend tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferencesTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Add field validation for literature references
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/reference.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Save lierature citations from edition
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseReferenceRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EditionReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

[WIP] save from edition
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EditionReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
Due: none

Fix validation in docunit
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/reference.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not use repos in transformer
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
Due: none

Fix test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
Due: none

Fix test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformer.java
  frontend/test/e2e/caselaw/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review finding
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformer.java
Due: none

Literature references (#2386)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseReferenceRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureCitationTypeConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EditionReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentTypeTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DependentLiteratureCitationType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Reference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ReferenceType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferencesTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/resources/document_types.sql
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/DocumentUnitReferences.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/domain/reference.ts
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add reset search button
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/OtcObsConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/UserGroupsConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentNumberRecyclingServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Refactor reset button and add test
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/test/components/fieldOfLaw/fieldOfLawExpandableContainer.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
Due: none

Fix prettier
  frontend/src/components/FieldOfLawMain.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/src/components/input/CheckboxInput.vue
  frontend/src/components/input/ChipsInput.vue
  frontend/src/components/input/ChipsList.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/input/TextEditorButton.vue
  frontend/src/components/input/YearInput.vue
  frontend/src/components/input/listInput/ListInput.vue
  frontend/src/routes/kitchensink/index/sideToggle.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix layout from feedback
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/field-of-law/FieldOfLawSearchInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix radio button label size
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add job for schedule publication
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ScheduledPublicationService.java
  backend/src/main/resources/application.yaml
Due: none

New feature
  frontend/index.html
Due: none

Style fix
  frontend/index.html
Due: none

Scroll to reference entry on validation errors
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Some references are with null citations
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
