Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Update build.gradle.kts
  backend/build.gradle.kts
Due: none

Update renovate.json5
  renovate.json5
Due: none

Add patch tests and refactor
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Add unit tests for DupRelation Transformer
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
Due: none

Add legacy dup-check info to DuplicateRelation
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DuplicateRelationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelation.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateRelationTransformerTest.java
Due: none

Use isEmpty instead of hasSize(0)
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Improve deletion test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
Due: none

Add happy path controller test (duplicate-status update)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelationStatusRequest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Spotless apply
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Add tests for set dup status
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Fix most tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/resources/legal_periodical_cleanup.sql
Due: none

Fix court NPE
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
Due: none

Fix dup rel status update condition
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
Due: none

Add text correction dropdown menu
  frontend/src/components/TestComponent.vue
  frontend/src/components/TextCorrectionDropdown.vue
  frontend/src/components/input/TextButton.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix skip dup check on empty ecli/filenumbers
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
Due: none

Add controller unit test for /new
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix patch attribute list
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Add bubble component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TestComponent.vue
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused code
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDuplicateCheckRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitIdDuplicateCheckTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitIdDuplicateCheck.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateCheckRepository.java
Due: none

Improve tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelationStatus.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Define conditions for clickable preview link
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/DecisionSummary.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/relatedDocumentation.ts
  frontend/test/components/decisionSummary.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix missing matches suggestions
  frontend/src/components/TextCorrectionDropdown.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/languagetool/bubble-menu-plugin.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Changes based on review
  README.md
  migration_image.md
  run.sh
  run_migration_locally.md
Due: none

Run all tests to
  lefthook.yaml
Due: none

Update README.md
  README.md
Due: none

Run commands in parallel
  lefthook.yaml
Due: none

Rephrase error message for scheduled publication
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/test/components/scheduledPublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix spotless
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
Due: none

Add follow option
  lefthook.yaml
Due: none

Adding suggetions on TextEdit component
  frontend/src/components/PopupModal.vue
  frontend/src/components/TestComponent.vue
  frontend/src/components/input/TextButton.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/input/types.ts
  frontend/src/editor/languagetool/BubbleMenu.vue
  frontend/src/editor/languagetool/BubbleMenu_orig.ts
  frontend/src/editor/languagetool/bubble-menu-plugin.ts
  frontend/src/editor/languagetool/languageTool.ts
  frontend/src/types/languagetool.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentNumberRecyclingService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
Due: none

Set reference type when creating from doc unit
  frontend/src/components/DocumentUnitLiteratureReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
Due: none

Fix type problems
  frontend/src/components/TestComponent.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add removed dexie
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Define conditions for clickable preview link (#2491)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/DecisionSummary.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/relatedDocumentation.ts
  frontend/test/components/decisionSummary.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

COnfigure output
  lefthook.yaml
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
