Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Add field validation for literature references
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/reference.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Change error message
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Real time changes in edition
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/src/stores/editionStore.ts
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reset time when deleting scheduling
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reset date error when search field removed
  frontend/src/components/DocumentUnitSearchEntryForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix SQL query indentation
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
Due: none

Show error when scheduling save fails
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test expectation
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Scheduled publication (Terminierte Abgabe) RISDEV_5234 (#2368)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitListItemDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitListItem.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/Tooltip.vue
  frontend/src/components/input/TimeInput.vue
  frontend/src/composables/useFeatureToggle.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/documentUnitListEntry.ts
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/documentUnit/documentUnitSearchEntryForm.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/procedures/procedureList.spec.ts
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test expectations
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix feature flag prefix
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

RISDEV-5168
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitToLdmlTransformer.java
Due: none

Fix font size of "Nur Fehler" InputField
  frontend/src/components/DocumentUnitSearchEntryForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use Disabled in ScheduledPublishingDateTime
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/input/DateInput.vue
  frontend/src/components/input/TimeInput.vue
  frontend/test/components/input/dateInput.spec.ts
  frontend/test/components/input/timeInput.spec.ts
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix: Use Disabled in ScheduledPublishingDateTime
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve search query performance
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Improve search query performance
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
Due: none

Improve search query performance (#2391)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
Due: none

Add read-only check to unit test
  frontend/test/components/scheduledpublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add periodical e2e test case for external user
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Increase max-failures for performance tests to 10
  .github/workflows/_playwright-test.yml
Due: none

Move data from CoreData to ManagementData
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ManagementData.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/texts/DocumentUnitAdditionalTexts.vue
  frontend/src/components/texts/DocumentUnitLongTexts.vue
  frontend/src/components/texts/DocumentUnitShortTexts.vue
  frontend/src/domain/documentUnit.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix Sentry error for attachments
  frontend/src/components/DocumentUnitAttachments.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Increase runs for performance tests to 10
  .github/workflows/_playwright-test.yml
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert spring boot update
  backend/build.gradle.kts
Due: none

Update FE libs
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Check menu for externals in e2e
  frontend/test/e2e/caselaw/external-user.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix page number in reference search
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing page number in references (#2397)
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/legal-periodical-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing insufficent getter for references
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e for scheduled publication
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/scheduledpublishingDateTime.spec.ts
  frontend/test/e2e/caselaw/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/handover/scheduled-publication.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add scheduling searches to query test
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Bring back field of law direct input
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  frontend/src/components/field-of-law/FieldOfLawDirectInputSearch.vue
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update backend tests field of law
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Show radio buttons when sachgebietslist is empty
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update text and frontend unit test
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/test/components/fieldOfLaw/fieldOfLawExpandableContainer.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update FE libs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FieldOfLawMain.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/input/CheckboxInput.vue
  frontend/src/components/input/ChipsInput.vue
  frontend/src/components/input/ChipsList.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/input/TextEditorButton.vue
  frontend/src/components/input/YearInput.vue
  frontend/src/components/input/listInput/ListInput.vue
  frontend/src/routes/kitchensink/index/sideToggle.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
