Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Extracting doc unit store from extra content side panel
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/test/components/extraContentSidePanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update implementation and test cases
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CaselawExceptionHandler.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/exception/PublishException.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CaseLawLdmlExportTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PublishIntegrationTest.java
Due: none

Improve visibility of local env by using rainbow
  frontend/src/assets/favicon-local.svg
  frontend/src/utils/getFavicon.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove commented out line
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PublishIntegrationTest.java
Due: none

Make code more robust and add test
  frontend/src/utils/getFavicon.ts
  frontend/test/utils/getFavicon.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix
  frontend/src/utils/getFavicon.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Extracting doc unit store from extra content side panel (#2325)
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/test/components/extraContentSidePanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve visibility of local env by using rainbow (#2323)
  frontend/src/assets/favicon-local.svg
  frontend/src/utils/getFavicon.ts
  frontend/test/utils/getFavicon.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix scrolling in editable list
  frontend/src/components/EditableList.vue
  frontend/src/components/input/listInput/ListInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Increase argocd timeout to 300 seconds
  .github/workflows/pipeline.yml
Due: none

Extracting doc unit store from extra content side panel
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Export LDML when handing over documentation unit (#2312)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CaselawExceptionHandler.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/exception/PublishException.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CaseLawLdmlExportTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DeviatingObjectIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitFieldOfLawIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PublishIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SaveNormIntegrationTest.java
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/services/handoverDocumentationUnitService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Run type check consistently with other checks
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove feature flag for border number (#2320)
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/input/TextEditorMenu.vue
  frontend/src/editor/EventHandler.ts
  frontend/src/editor/borderNumber.ts
  frontend/src/editor/commands/removeBorderNumbers.ts
  frontend/src/editor/shortcuts/handleBackspace.ts
  frontend/src/editor/shortcuts/handleDelete.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/input/textEditor.spec.ts
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/e2e/caselaw/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/editor/commands/removeBorderNumbers.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update renovate.json5
  renovate.json5
Due: none

Simplify auth methods
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
Due: none

Refactor authService for readability
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
Due: none

Add unit tests for authentication
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/OAuthServiceTest.java
Due: none

Fix sonarcloud issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/OAuthServiceTest.java
Due: none

Only cancel when deployment to staging starts
  .github/workflows/pipeline.yml
Due: none

Update exporter version
  backend/build.gradle.kts
Due: none

Add component tests
  frontend/src/components/EditableList.vue
  frontend/test/components/editableList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor container el ref for ListInput
  frontend/src/components/input/listInput/ListInput.vue
  frontend/src/components/input/listInput/ListInputDisplay.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix scrolling in editable list (#2327)
  frontend/src/components/EditableList.vue
  frontend/src/components/input/listInput/ListInput.vue
  frontend/test/components/editableList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor container el ref for ListInput (#2328)
  frontend/src/components/input/listInput/ListInput.vue
  frontend/src/components/input/listInput/ListInputDisplay.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding emit test for toggling extra content side panel
  frontend/test/components/extraContentSidePanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing sentry toReversed was called on undefined object
  frontend/src/components/DocumentUnitCoreData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Removing typo line before commit
  frontend/src/components/DocumentUnitCoreData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore TextSelection warning of Prosemirror
  frontend/src/editor/commands/handleSelection.ts
  frontend/src/main.ts
  frontend/src/utils/filterConsoleWarnings.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix comment
  frontend/src/editor/commands/handleSelection.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore TextSelection warning of Prosemirror (#2329)
  frontend/src/editor/commands/handleSelection.ts
  frontend/src/main.ts
  frontend/src/utils/filterConsoleWarnings.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update Readme with IntelliJ instructions
  backend/README.md
Due: none

Update Readme with IntelliJ instructions (#2333)
  backend/README.md
Due: none

Split up text field saving and preview test
  frontend/test/e2e/caselaw/categories/shortAndLongTexts/short-and-long-texts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix frontend errors and tests
  frontend/src/components/PopupModal.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Handle deletion of Neuanlage-Fundstelle separately
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  frontend/src/components/PopupModal.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/relatedDocumentation.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add backend integration tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Adjust tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Add frontend tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/SourceDTO.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
